.header {
  color: white;
}

.list {
  list-style: none;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.list-item {
  color: white;
  text-decoration: none;
}
